In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df=pd.read_csv("cust_satisfaction_cleaned.csv")
df

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,29,2133,3,4,3,12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,39,929,4,4,4,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,33,2227,5,5,4,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,33,569,5,3,5,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,45,2930,2,2,4,12,3.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,37,596,3,3,3,110,121.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
39901,24,1055,1,5,1,13,10.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
39902,23,192,2,4,2,3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
39903,30,1995,4,4,4,7,14.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
39904,22,1000,1,1,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [8]:
df.isnull().sum()

Age                                0
Flight Distance                    0
Inflight entertainment             0
Baggage handling                   0
Cleanliness                        0
Departure Delay in Minutes         0
Arrival Delay in Minutes           0
Gender_Male                        0
Customer Type_disloyal Customer    0
Type of Travel_Personal Travel     0
Class_Business                     0
Class_Eco                          0
Class_Eco Plus                     0
satisfaction_satisfied             0
dtype: int64

In [9]:
df.shape

(39905, 14)

In [10]:
df.duplicated().sum()

np.int64(0)

In [12]:
df.shape[0]-df.duplicated().sum()

np.int64(39905)

In [13]:
df.drop_duplicates(inplace=True)
df

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,29,2133,3,4,3,12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,39,929,4,4,4,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,33,2227,5,5,4,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,33,569,5,3,5,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,45,2930,2,2,4,12,3.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,37,596,3,3,3,110,121.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
39901,24,1055,1,5,1,13,10.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
39902,23,192,2,4,2,3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
39903,30,1995,4,4,4,7,14.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
39904,22,1000,1,1,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [15]:
cat_col=df.select_dtypes(include="O")
cat_col

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[39905 rows x 0 columns]

In [16]:
num_col=df.select_dtypes(exclude="O")
num_col.head()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,29,2133,3,4,3,12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,39,929,4,4,4,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,33,2227,5,5,4,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,33,569,5,3,5,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,45,2930,2,2,4,12,3.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [18]:
x=num_col.drop("Customer Type_disloyal Customer",axis=1)
y=num_col[['Customer Type_disloyal Customer']]

In [19]:
x

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,29,2133,3,4,3,12,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,39,929,4,4,4,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,33,2227,5,5,4,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,33,569,5,3,5,0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,45,2930,2,2,4,12,3.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,37,596,3,3,3,110,121.0,0.0,0.0,1.0,0.0,0.0,0.0
39901,24,1055,1,5,1,13,10.0,0.0,0.0,0.0,1.0,0.0,0.0
39902,23,192,2,4,2,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0
39903,30,1995,4,4,4,7,14.0,1.0,0.0,1.0,0.0,0.0,0.0
39904,22,1000,1,1,1,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [20]:
y

       Customer Type_disloyal Customer
0                                  0.0
1                                  0.0
2                                  0.0
3                                  0.0
4                                  0.0
...                                ...
39900                              1.0
39901                              1.0
39902                              1.0
39903                              1.0
39904                              1.0

[39905 rows x 1 columns]

In [17]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [22]:
x_train

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
33048,37,328,4,1,4,11,15.0,1.0,0.0,0.0,1.0,0.0,0.0
5572,56,2619,1,1,4,0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
3806,38,2532,5,5,5,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
35907,23,305,4,4,4,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
19707,7,447,4,4,4,77,88.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,33,1723,4,4,2,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
11284,57,2370,5,5,4,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
38158,36,666,3,5,3,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
860,39,3199,2,2,5,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
15795,37,106,4,5,2,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [23]:
y_train

       Customer Type_disloyal Customer
33048                              1.0
5572                               0.0
3806                               0.0
35907                              1.0
19707                              0.0
...                                ...
6265                               0.0
11284                              0.0
38158                              1.0
860                                0.0
15795                              0.0

[31924 rows x 1 columns]

In [24]:
from sklearn.svm import SVC

In [25]:
sum=SVC()
sum.fit(x_train,y_train)

C:\Users\Jai Ho\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [1]:
# sum.score(x_train,y_train)

In [2]:
from sklearn.neighbors import KNeighborsClassifier as knn

In [3]:
knc=knn()

In [4]:
knc.fit(x_train,y_train)

NameError: name 'x_train' is not defined